.container {
  display: flex;
  flex-direction: column;
  /* padding: 5px 0 20px 0; */
  padding-bottom: 20px;
  align-items: center;
  /* align-content: stretch; */
}

.label {
  padding: 10px 0;
  font-size: 1.1rem;
}