.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 1;
}

.title {
  text-align: center;
  /* border-radius: 10px;
  background-color: #139a43;
  color: white; */
}

.labelHome {
  font-size: 20px;
}

.createButton {
  border-radius: 20px;
  margin: 10px 0;
}

.selectedDate {
  background-color: #139a43 !important;
  color: white !important;
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.calendar {
  border: 1px solid transparent;
  width: 22rem;
  background-color: #e7ecef;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: .3s;
}

.calendar:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 22rem;
  background-color: #e7ecef;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: .3s;
  margin-bottom: 10px;
}

.today {
  background-color: grey !important;
  color: white !important;
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}