.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.sendButton {
  border-radius: 20px;
  margin-top: 20px;
}

.resultsButton {
  border-radius: 20px;
}