@font-face {
  font-family: 'VarelaRound';
  src: url(./assets/fonts/VarelaRound-Regular.ttf);
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

.App {
  font-family: 'VarelaRound', sans-serif;
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: 'VarelaRound', sans-serif;
}