.btn {
  box-sizing: border-box;
  width: fit-content;
  background-color: #111;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}

.secondary {
  border: 1px solid #aaa;
  color: #aaa;
  background-color: white;
}