.container {
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition-duration: 0.2s;
}

.container:hover {
  background: #dbdbdb;
  transition-duration: 0.2s;
  cursor: pointer;
}

.containerPressed {
  width: 60px;
  height: 60px;
  background: #a8a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
