.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  z-index: 99;
  border-radius: 0 0 20px 20px;
  background-color: white;
}

img {
  height: 190px;
}