.container {
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: .4s;
}

.container:hover {
  box-shadow: none;
  transition: .4s;
}


.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
}

.day {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
}

.month {
  margin: 0 10px;
}

.icon {
  opacity: .8;
  font-size: 2rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated {
  transition: .3s;
  transform: rotate(180deg);
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  transition: .4s;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parts {
  font-size: 0.9rem;
  padding: 10px 5px;
}

.part {
  margin: 10px 0;

}