.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10px 0px;
  cursor: pointer;
}

.tab {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.month {
  flex: 1;
  margin: 0 10px;
}

.icon {
  flex: 1;
  opacity: 0.8;
  font-size: 2rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated {
  transition: 0.3s;
  transform: rotate(180deg);
}

.list {
  position: relative;
  margin-top: -5.1vh;
  height: 5vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: 0.2s;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.list p {
  transition: 0.1s;
  opacity: 0;
}

.translated {
  transition: 0.2s;
  margin-top: 0%;
  opacity: 1;
  height: auto;
}

.translated p {
  transition: 0.1s;
  opacity: 1;
}

.parts {
  font-size: 0.9rem;
  padding: 10px 5px;
  z-index: inherit;
}

.part {
  margin: 10px 0;
}
